@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #ff5454;
  --black: #0d0d0d;
  --gray-1: #dedede;
  --gray-2: #cacaca;
  --gray-3: #d2d2d2;
  --red-1: #ff3a3a;
  --red-2: #e44040;
}

body {
  background: linear-gradient(45deg, var(--red-1), var(--red-2));
  display: flex;
  justify-content: center;
  min-height: 100%;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-size: 15px;
  border: none;
  border-radius: 15%;
  transition-property: transform;
  transition-duration: 0.1s;
  margin: 6px;
  opacity: 0.7;
}

button:hover {
  color: var(--primary-color);
  transform: scale(1.2);
  opacity: 1;
}

.equal {
  height: 100px;
}

.zero {
  width: 100px;
}

#input-display {
  font-size: 25px;
  text-align: right;
  height: 35px;
  width: 215px;
  border: none;
  border-radius: 5%;
}

/* retirando borda do input quando clicado */
textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.calculator-container {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 100%;
  padding: 2rem 0;
}

.calculator {
  background: linear-gradient(
    90deg,
    var(--gray-1),
    var(--gray-2),
    var(--gray-3)
  );
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  max-width: 400px;
  height: 370px;
  border-radius: 32px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 4rem;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#copyright {
  color: #fff;
  animation: flicker 1.5s infinite alternate;
}
